* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

input {
    &:focus {
        outline: none;
    }

    &::-moz-selection {
        /* Code for Firefox */
        background: $clr12;
    }

    &::selection {
        background: $clr12;
    }
}

.basic-button {
    display: flex;
    justify-content: center;
    border-radius: 1000%;
    height: max-content;
    width: fit-content;
    padding: 2px;
    margin: 0;

    &:hover {
        background-color: $clr19;
    }
}
