* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.click-through {
    pointer-events: none;
}