.edit-board {
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $clr6;

    .page-sections {
        background-color: $clr2;
        margin-right: 40px;

        // box shadow
        -webkit-box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.42);
        -moz-box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.42);
        box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.42);

        display: grid;
        .first, .ruler-container {
            grid-row: 1;
            grid-column: 1;
        }
    }
}