.edit-box {
    position: absolute;
    // z-index: 1;

    .handler {
        position: absolute;
    }
}

.edit-box-indicator {
    position: absolute;
    transform: translateY(-150%);

    pointer-events: none;
    user-select: none;
    
    font-size: 13px;
    color: $clr2;

    background-color: $clr25;
    padding: 4px 6px;
    border-radius: 4px;

    white-space: nowrap;
}