.left-edit-bar {
    z-index: 11;
    --icon-radious: 42px;

    grid-column: 1;
    grid-row: 3;


    -webkit-box-shadow: 0px 2px 5px 2px rgba(31, 31, 31, 0.45);
    -moz-box-shadow: 0px 2px 5px 2px rgba(31, 31, 31, 0.45);
    box-shadow: 0px 2px 5px 2px rgba(31, 31, 31, 0.45);


    background-color: $clr2;

    .edit-options {
        --left-edit-bar-icon-height: 54px;
        width: fit-content;
        padding-top: 18px;

        li {
            --padding-inline: 8px;
            padding-inline: var(--padding-inline);
            height: var(--left-edit-bar-icon-height);
            display: flex;
            justify-content: center;

            .wrapper {
                position: relative;
                height: var(--icon-radious);
                width: var(--icon-radious);
                $anim-lengh: 0.2s;

                button {
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                }

                .icon {
                    background-color: $clr29;
                }

                // add section
                .add-section {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2px;

                    .upper-part,
                    .bottom-part {
                        height: 2px;
                        width: 16px;
                        border-radius: 1px;
                    }

                    .middle-part {
                        height: 9px;
                        width: 18px;
                        border-radius: 1px;
                    }

                    &:hover,
                    &.selected {
                        background-color: $clr5;

                        .icon {
                            background-color: $clr1;
                        }
                    }

                    &.selected:hover {

                        .bottom-part,
                        .middle-part,
                        .upper-part {
                            animation: none;
                        }
                    }

                    &:not(.selected):hover {
                        .bottom-part {
                            animation: add-section-bottom calc($anim-lengh * 1.25 * 1.3) linear;
                        }

                        .middle-part {
                            animation: add-section-middle calc($anim-lengh * 1.3) linear;
                        }

                        .upper-part {
                            animation: add-section-upper calc($anim-lengh * 1.25 * 1.3) linear;
                        }
                    }
                }

                // add elements
                .add-elements {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        border-radius: 100%;
                        height: 24px;
                        width: 24px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                    }

                    .horizontal,
                    .vertical {
                        position: absolute;
                        display: block;
                        background-color: $clr2;
                        border-radius: 1px;
                    }

                    .horizontal {
                        height: 2px;
                        width: 14px;
                    }

                    .vertical {
                        height: 14px;
                        width: 2px;
                    }

                    &:hover,
                    &.selected {
                        background-color: $clr31;

                        .icon {
                            background-color: $clr16;
                        }

                        .horizontal,
                        .vertical {
                            background-color: $clr31;
                        }
                    }

                    &.selected:hover {

                        .horizontal,
                        .vertical {
                            animation: none;
                        }
                    }

                    &:not(.selected):hover {
                        .horizontal {
                            animation: add-element-horizontal $anim-lengh linear;
                        }

                        .vertical {
                            animation: add-element-vertical $anim-lengh linear;
                        }
                    }
                }

                .label-hover-box {
                    display: none;
                    transition-property: visibility;

                    z-index: 1;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translateX(calc(100% + var(--padding-inline) * 2));

                    font-size: 14px;
                    color: $clr28;
                    white-space: nowrap;
                    letter-spacing: 0.9px;

                    background-color: $clr2;

                    padding: 12px 15px;
                    border-radius: 3px;

                    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.22);
                    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.22);
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.22);
                }

                &:hover {
                    .label-hover-box {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.panel-wrapper {

    grid-column: 2;
    grid-row: 3;
    width: fit-content;

    z-index: 12;
    position: relative;
    height: 100%;

    &.add-section {
        overflow: hidden;
        -webkit-box-shadow: 7px 0px 5px -3px rgba(31, 31, 31, 0.256);
        -moz-box-shadow: 7px 0px 5px -3px rgba(31, 31, 31, 0.256);
        box-shadow: 7px 0px 5px -3px rgba(31, 31, 31, 0.256);

        .panel {
            position: unset !important;
        }
    }

    .panel {
        height: 100%;
        transition: max-width 1s linear;
        max-width: 100vw;

        overflow: hidden;

        background-color: $clr32;

        white-space: nowrap;

        -webkit-box-shadow: 7px 0px 5px -3px rgba(31, 31, 31, 0.256);
        -moz-box-shadow: 7px 0px 5px -3px rgba(31, 31, 31, 0.256);
        box-shadow: 7px 0px 5px -3px rgba(31, 31, 31, 0.256);

        position: absolute;

        $head-font-size: 16px;
        $head-pad-block: 16px;
        $head-border-top: 6px;

        .head {
            font-size: $head-font-size;
            font-weight: bold;

            border-top: $head-border-top solid $clr16;
            border-bottom: 1px solid $clr32;
            padding: 16px 23px;

            position: relative;
            border-left: 1px solid $clr32;

            background-color: $clr2;

            .exit-button {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .contents {
            border-left: 1px solid $clr32;
            $head-border-bottom: 1px;
            height: calc(100% - $head-font-size - $head-pad-block * 2 - $head-border-top - $head-border-bottom);
            width: fit-content;
            overflow: hidden;

            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            gap: 1px;

            background-color: $clr32;

            &>* {
                background-color: $clr2;
            }

            .categories {
                background-color: $clr19;
            }

            .sub-categories,
            .categories,
            .examples {
                width: max-content;
                overflow: auto;

                .categorie-list {
                    padding-block: 11px;

                    li {
                        cursor: pointer;
                        padding-inline: 11px;

                        .categorie {
                            display: block;
                            width: fit-content;

                            border-radius: 50px;
                            padding: 8px 12px;

                            font-size: 14px;
                        }
                    }
                }
            }

            .examples {
                .categorie-list {
                    height: 100%;
                    background-color: $clr2;

                    li {
                        background-color: inherit;
                    }
                }

                background-color: rgba(255, 255, 255);
                -webkit-background-clip: text;
                background-clip: text;
                transition: background-color .4s;

                &::-webkit-scrollbar {
                    background-color: $clr2;
                    width: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: inherit;
                    border-radius: 10px;
                    border: 2px solid $clr2;
                }

                &:hover {
                    background-color: $clr33;
                }
            }

            .categorie-list {
                li {
                    .current-categorie {
                        background-color: $clr10;
                        color: $clr16;
                    }
                }
            }
        }
    }
}

// animtions for add section button
@keyframes add-section-middle {
    from {
        transform: scaleY(0%);
    }

    to {
        transform: scaleY(100%);
    }
}

@keyframes add-section-upper {
    from {
        transform: translateY(10px);
    }

    80% {
        transform: translateY(-60%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes add-section-bottom {
    from {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(60%);
    }

    to {
        transform: translateY(0%);
    }
}

// animtion for add elements button 
@keyframes add-element-vertical {
    from {
        transform: scaleY(0%);
    }

    to {
        transform: scaleY(100%);
    }
}

@keyframes add-element-horizontal {
    from {
        transform: scaleX(0%);
    }

    to {
        transform: scaleX(100%);
    }
}

.example-drag {
    cursor: pointer;
    position: relative;
    background-color: green;
    height: 40px;
    width: 40px;
}