.ruler-container {
    z-index: 10;
    height: max-content;
    $graduation-clr: $clr26;

    &.top {
        height: 22px;
        overflow-x: clip;

        position: sticky;
        top: 0;
        display: grid;
        grid-template-columns: minmax(0, 1fr) $pageWidth minmax(0, 1fr);
    }

    .ruler {
        &.right {
            display: grid;
            position: absolute;
            right: 0;
            background-color: $clr2;
            transition: opacity .15s ease-in;
            transition-delay: .15s;
            opacity: 0.5;

            width: 22px;
            font-size: 9px;
            font-family: sans-serif;

            &:hover {
                opacity: 0.9;
            }

            .ruler-graduation {
                // vars
                $graduation-height: 1px;
                $graduation-pos: absolute;
                $graduation-transY: translateY(25%);
                $bor-box: border-box;
                $right-dist: 6px;
                $bottom-dist: 0px;

                position: relative;
                height: 10px;

                &:not(:nth-child(5n)):not(:nth-child(2)):not(:nth-child(1)) {
                    &::after {
                        content: "";
                        position: $graduation-pos;
                        right: $right-dist;
                        width: 4.5px;
                        height: $graduation-height;
                        bottom: $bottom-dist;
                        background-color: $graduation-clr;
                        transform: $graduation-transY;
                    }
                }

                &:nth-child(5n):not(:nth-child(10n)) {
                    &::after {
                        content: "";
                        position: $graduation-pos;
                        right: $right-dist;
                        width: 7.5px;
                        height: $graduation-height;
                        bottom: $bottom-dist;
                        background-color: $graduation-clr;
                        transform: $graduation-transY;
                    }
                }

                &:nth-child(10n) {
                    &::after {
                        content: "";
                        position: $graduation-pos;
                        right: $right-dist;
                        width: 12px;
                        height: $graduation-height;
                        bottom: $bottom-dist;
                        background-color: $graduation-clr;
                        transform: $graduation-transY;
                        box-sizing: $bor-box;
                    }
                }

                .digits {
                    position: absolute;
                    display: grid;
                    left: 3px;
                    top: 5px;
                    color: $clr27;

                    .ruler-digit {
                        line-height: 10px;
                    }
                }
            }
        }

        &.top {
            -webkit-box-shadow: inset 0px 4px 6px -4px rgb(145, 144, 144);
            -moz-box-shadow: inset 0px 4px 6px -4px rgb(145, 144, 144);
            box-shadow: inset 0px 4px 6px -4px rgb(145, 144, 144);


            display: grid;
            position: absolute;
            grid-auto-flow: column;


            height: 22px;
            background-color: $clr2;
            transition: opacity .15s ease-in;
            transition-delay: .15s;
            opacity: 0.5;
            font-size: 9px;
            font-family: sans-serif;

            &:hover {
                opacity: 0.9;
            }

            .ruler-graduation {
                // vars
                $graduation-width: 1px;
                $graduation-pos: absolute;
                $graduation-transX: translateX(50%);
                $bor-box: border-box;
                $right-dist: 0px;
                $dist-from-start: 6px;
                position: relative;
                width: 10px;

                &:not(:nth-child(5n)) {
                    &::after {
                        content: "";
                        position: $graduation-pos;
                        right: $right-dist;
                        width: $graduation-width;
                        height: 4.5px;
                        top: $dist-from-start;
                        background-color: $graduation-clr;
                        transform: $graduation-transX;
                    }
                }

                &:nth-child(5n):not(:nth-child(10n)) {
                    &::after {
                        content: "";
                        position: $graduation-pos;
                        right: $right-dist;
                        width: $graduation-width;
                        height: 7.5px;
                        top: $dist-from-start;
                        background-color: $graduation-clr;
                        transform: $graduation-transX;
                    }
                }

                &:nth-child(10n) {
                    &::after {
                        content: "";
                        position: $graduation-pos;
                        right: $right-dist;
                        width: $graduation-width;
                        height: 12px;
                        top: $dist-from-start;
                        background-color: $graduation-clr;
                        transform: $graduation-transX;
                    }
                }

                .digits {
                    position: absolute;
                    display: grid;
                    grid-auto-flow: column;
                    left: 3px;
                    bottom: 0px;
                    color: $clr27;

                    .ruler-digit {
                        line-height: 10px;
                    }
                }
            }
        }
    }

    .grid-column-1 {
        grid-column: 1;
    }

    .grid-column-2 {
        grid-column: 2;
    }

    .grid-column-3 {
        grid-column: 3;
    }
}

.guideline-container.right {
    position: absolute;
    transform: translateY(-50%);
    right: 0;

    .picker {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        height: 10px;
        width: 22px;
        cursor: ns-resize;

        &:hover {
            .arrow {
                transform: translateX(50%) rotate(45deg) scale(1.4);
            }
        }

        .guideline {
            position: absolute;
            right: 0%;
            top: 50%;

            transform: translateY(-50%);
            display: block;

            width: 100vw;
            height: 1px;

            background-color: $clr8;
            pointer-events: none;
        }

        .arrow {
            right: 0%;
            transform: translateX(50%) rotate(45deg) scale(0.9);
            transition: transform 0.2s;
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            background-color: $clr7;
        }
    }
}

















.guideline-container.top {
    position: absolute;
    transform: translateX(-50%);

    .picker {
        position: absolute;
        right: 50%;
        transform: translateX(50%);

        width: 10px;
        height: 22px;
        cursor: ew-resize;

        &:hover {
            .arrow {
                transform: translateX(50%) rotate(45deg) scale(1.4);
            }
        }

        .guideline {
            position: absolute;
            right: 50%;

            transform: translateX(50%);
            display: block;

            height: 100vh;
            width: 1px;

            background-color: $clr8;
            pointer-events: none;
        }

        .arrow {
            right: 50%;
            transform: translateX(50%) rotate(45deg) scale(0.9);
            transition: transform 0.2s;
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            background-color: $clr7;
            top: -23%;
        }
    }
}

.ruler-edit-box {
    outline: none;
    z-index: 10;
    position: absolute;

    font-family: sans-serif;
    font-size: 12px;
    width: fit-content;
    background-color: $clr2;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.149);
    border-radius: 50px;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 2px;

    padding-block: 5px;
    padding-left: 10px;
    padding-right: 8px;

    &.full-hover:hover {
        background-color: $clr10;
        cursor: pointer;
    }

    .input-stepper {
        display: flex;
        gap: 2.5px;
        align-items: center;
        height: fit-content;
        // line-height: 1;

        &:hover {
            background-color: $clr10;
            border-radius: 3px;
            cursor: pointer;
        }

        .input {

            &:focus {
                outline: none;
            }

            width: 38px;
            text-align: center;
            font-size: inherit;
            border: 1px solid $clr11;
            border-radius: 3px;

            padding-block: 1px;
            color: $clr13;

            // -webkit-box-shadow: inset 5px 5px 15px 5px #000000; 
            box-shadow: inset 0px 0px 2px 0px #00000042;
        }

        .initial-position {
            color: $clr13;
            padding-left: 3px;
            padding-block: 2px;

        }

        .units {
            color: #3b4057;
            padding-right: 3px;
            padding-block: 2px;
        }
    }

    .trash-icon {
        vertical-align: text-bottom;
        margin-bottom: -2px;
        cursor: pointer;
        padding-block: 2px;

    }
}