.section {
    display: grid;
    position: relative;

    &:hover {
        .section-resize-button {
            height: 24px;
            overflow: unset;
        }
    }

    .out-of-gridline {
        pointer-events: auto;
    }
}

.section-layout {
    grid-template-columns: minmax(0, 1fr) 980px minmax(0, 1fr);

    .grid-center {
        position: relative;
        grid-column: 2;
    }
}