.section-cover {
    $outline-color: none;
    outline-offset: -2px;
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 2px solid transparent;

    &.blur-hover {
        $outline-color: $clr5;

        &:hover {
            background-color: #d9d2ff33;;
            outline-color: $outline-color;

            .section-name {
                background-color: $outline-color;
                color: $clr1;
                display: grid;

                .section-rename-button {
                    &:hover {
                        background-color: $clr15;
                    }
                }
            }
        }
    }

    &.focused {
        --outline-color: var(--clr1);
        outline-color: var(--outline-color);
        pointer-events: none;


        .section-name {
            background-color: var(--outline-color);
            display: grid;
        }

        &.dragged-over,
        &.not-dragged-over {
            --outline-color: var(--clr5); // Override
        }
    }

    &.focused:not(.not-dragged-over),
    &.dragged-over {

        .gridline {
            z-index: 1;
            pointer-events: none;
            display: block;
            width: 1.5px;
            height: calc(100% - 3.5px);
            top: 2px;
            position: absolute;
            overflow: hidden;

            &::before {
                top: -2.5px;
                content: '';
                position: inherit;
                width: inherit;

                height: calc(100% + 5px);
                background: repeating-linear-gradient(black, black 5px, white 5px, white 10px);
            }

            &.right {
                right: 0;
                transform: translateX(50%);
            }

            &.left {
                transform: translateX(-50%);
            }
        }
    }

    .wrapper {
        grid-row: 1;
        grid-column: -1;
    }

    .common {
        position: absolute;
        right: 0;
        padding-inline: 15px;
        height: 30px;
    }

    .section-name {
        z-index: 1;
        pointer-events: auto;

        top: 0;
        transform: translateY(calc(-100% + 2px));

        display: none;
        grid-auto-flow: column;
        align-items: center;

        color: $clr2;

        cursor: pointer;
        border-radius: 2px;

        &:hover {
            .section-rename-button {
                width: fit-content;
                display: initial;
                border-radius: 2px;
            }
        }

        .section-rename-button {
            width: 0;
            overflow: hidden;
            margin-right: -14px;
            color: inherit;

            &:hover {
                background-color: $clr14;
            }
        }

        .content {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .size-reference {
        pointer-events: none;
        opacity: 0;
        height: 0;
        white-space: nowrap;
    }


    .section-resize-button {
        $tooltip-height: 91px;
        $square-pointer-height: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 0%;

        width: 40px;
        height: 0;

        pointer-events: auto;

        border-radius: 3px;

        z-index: 1;
        color: $clr2;
        background-color: $clr1;
        transform: translate(-50%, 50%);
        left: calc(50% + 300px);

        cursor: ns-resize;

        overflow: hidden;

        &:active {
            height: 24px;
        }

        &:hover:not(:active) {
            &::after {
                box-sizing: border-box;
                content: "Adjust section height or\a double click to remove any\a extra space above.";
                white-space: pre;
                text-align: left;
                color: $clr4;

                padding-left: 18px;

                display: flex;
                align-items: center;

                line-height: 1.4;
                letter-spacing: 0.63px;

                border-radius: 4px;
                background-color: $clr2;

                position: absolute;
                width: 241px;
                height: $tooltip-height;
                top: - calc($tooltip-height + sqrt(2) * $square-pointer-height * 1.1);
            }

            &::before {
                content: "";

                position: absolute;
                height: $square-pointer-height;
                width: $square-pointer-height;

                transform: rotate(45deg);
                transform-origin: 50% 50%;

                background-color: $clr2;
                top: - calc(sqrt(2) * $square-pointer-height * 1.5);
            }
        }
    }

    .attach-to-section {
        display: none;
    }

    &.dragged-over {
        .intersecting {
            background: repeating-linear-gradient(-45deg, rgb(93, 106, 122), rgb(93, 106, 122) 1.5px, rgb(67, 74, 89) 1px, rgb(67, 74, 89) 6.3px);
            z-index: 1;
            opacity: 0.279;
            pointer-events: none;
        }

        &:not(.focused) .attach-to-section {
            pointer-events: none;

            position: sticky;
            top: 0;
            height: 0;
            z-index: 10;

            display: grid;
            justify-content: center;

            .inner-sign {
                font-size: 14px;
                color: $clr2;
                padding: 7px 9px;
                background-color: $clr1;
                border-radius: 2px;
                margin-top: 10px;
            }
        }
    }

    &.dragged-over,
    &.not-dragged-over {

        .section-resize-button,
        .add-section-button {
            display: none !important;
        }

        &:not(.not-dragged-over):not(.focused) {
            outline-color: $clr1;
            border:4px solid $clr5;

        }
    }
}

