.tester {
    border-radius: 20px;
    position: absolute;
    background-color: rebeccapurple;
}

.edit-board {
    width: 1000px;
    background-color: red;
    height: 100vh;
    position: relative;
    // overflow: hidden;
}

* {
    box-sizing: border-box;
}

.edit-box {
    position: absolute;
    z-index: 2;



    .handler {
        position: absolute;
    }


}

body {
    margin: 0;
}

.click-through {
    pointer-events: none;
}