.editor {
    position: relative;
    display: grid;

    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
    width: 100vw;
    // overflow: hidden;
    .full {
        grid-column: 1 / -1;
    }

}

.add-section-placeholder-container {
    height: 0;
    overflow: hidden;

    .add-section-placeholder {
        font-size: 28px;

        background-color: $clr30;
        color: $clr1;
        width: 100%;

        padding: 24px;

        .dotted-border {
            text-align: center;
            padding-block: 53px;
            border: 1px dashed $clr1;
        }
    }
}
