// Colors
$clr1: #6f56f9;
$clr2: #ffffff;
$clr3: #4429da;
$clr4: #41465c;
$clr5: #d9d2ff;
$clr6: #eeeff2;
$clr7: #5999ff;
$clr8: #8ff5fb;
$clr9: #5999ff;
$clr10: #d6e6fe;
$clr11: #9cccf6;
$clr12: #e6effe;
$clr13: #384f68;
$clr14: #4429da;
$clr15: #c4bcf9;
$clr16: #116dff;
$clr17: #a8caff;
$clr18: #e7ebf0;
$clr19: #f7f8f8;
$clr20: #3b4057;
$clr21: #070e2c;
$clr23: #868aa5;
$clr24: #116dfe;
$clr25: rgba(0, 0, 0, 0.644);
$clr26: #a6b2bb;
$clr27: #637487;
$clr28: #222841;
$clr29: #2d3034;
$clr30: #ece8ff;
$clr31: #ebf2ff;
$clr32: #edf0f3;
$clr33: #dadce4;

$pageWidth :980px;

:root {
  --clr1: #6f56f9;
  --clr5: #d9d2ff;
  --left-panel-trans-time: 1s
}