// Colors
$clr1: #6f56f9;
$clr2: #ffffff;
$clr3: #4429da;
$clr4: #41465c;
$clr5: #d9d2ff;
$clr6: #eeeff2;
$clr7: #5999ff;
$clr8: #8ff5fb;
$clr9: #5999ff;
$clr10: #d6e6fe;
$clr11: #9cccf6;
$clr12: #e6effe;
$clr13: #384f68;